---
import "../../styles/global.css";
import "../../styles/main.css";
import {Logo} from '@/components/logo'
import {SEO} from 'astro-seo'

export interface Props {
  title: string;
  description?: string;
  image?: string;
  date?: string;
  type?: "website" | "article";
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const { title, description, image, date, type = 'website' } = Astro.props;

const resolvedImageWithDomain = new URL(
  image ?? "/opengraph.jpg",
  Astro.site
).toString();


const makeTitle = title
  ? title + " | " + "Efobi Dev"
  : "Efobi Dev. Design Driven Development Agency";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO title={makeTitle} description={description} canonical={canonicalURL} twitter={{
            creator: '@owenEEfobi',
            site: '@owenEEfobi',
            card: 'summary_large_image',
        }}
        openGraph={{
            basic: {
            title: 'Efobi Dev. Design Driven Development Agency',
            url: canonicalURL,
            type,
            image: resolvedImageWithDomain
            },
            article: date ? { publishedTime: new Date(date).toISOString() } : undefined,
        }}
        openGraph={{
        basic: {
          url: canonicalURL,
          type,
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Efobi Dev. Design Driven Development Agency",
        },
      }} />
	</head>
	<body>
        <Logo />
		<slot />
        <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
	</body>
</html>
