---
import "../../styles/global.css";
import "../../styles/main.css";
import {SEO} from 'astro-seo'
import { Header } from "@/components/header";
import { ClientRouter } from "astro:transitions";
import { Footer } from "@/components/footer";
import {Toaster} from 'sonner'

export interface Props {
  title: string;
  description?: string;
  image?: string;
  date?: string;
  type?: "website" | "article";
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const { title, description, image, date, type = 'website' } = Astro.props;

const resolvedImageWithDomain = image ?? new URL(
"/opengraph.webp",
  Astro.site
).toString();


const makeTitle = title
  ? title + " | " + "efobi.dev"
  : "efobi.dev. Design Driven Development Agency";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <ClientRouter />
		<SEO title={makeTitle} description={description} canonical={canonicalURL} twitter={{
            creator: '@owenEEfobi',
            site: '@owenEEfobi',
            card: 'summary_large_image',
        }}
        openGraph={{
            basic: {
            title: 'efobi.dev. Design Driven Development Agency',
            url: canonicalURL,
            type,
            image: resolvedImageWithDomain
            },
            article: date ? { publishedTime: new Date(date).toISOString() } : undefined,
        }}
        openGraph={{
        basic: {
          url: canonicalURL,
          type,
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "efobi.dev. Design Driven Development Agency",
        },
      }} />
	</head>
	<body class="min-h-screen flex flex-col">
        <Header client:load />
		<slot />
        <Footer client:load/>
        <Toaster richColors client:load />
        <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
	</body>
</html>
